.LaunchList {
  height: 100vh;
  overflow: hidden auto;
  background-color: #ececec;
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(168, 168, 230);
  

}

.LaunchList__list {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.LaunchList__item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #919191;
  cursor: pointer;
  background-color: rgb(80, 245, 209);
  border-radius: 30px;
  text-align: center;
}
.loading{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}